# GCP & BigQuery Credentials
GCP_PROJECT_ID=dialer-dw-prod
GCP_KEY_PATH=./keys/gcp_key.json
BQ_LOCATION=US

# ReadyMode Ingestion (HTTP / Session Auth)
READYMODE_URL=https://your-domain.readymode.com
READYMODE_USER=your_readymode_username
READYMODE_PASSWORD=your_readymode_password
READYMODE_REPORT_ID_1=12345
READYMODE_REPORT_ID_2=67890

# Airflow Core Config
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_FERNET_KEY=generate_with__python3_-c_"from_cryptography.fernet_import_Fernet;print(Fernet.generate_key().decode())"

# dbt Environment Config
DBT_DATASET=dialer_dw_dev